# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# Model files (heavy)
*.pt
*.h5
*.onnx

# AI libraries / local clones
deepface/
ultralytics/

# Runtime outputs
runs/
.yolo/

# Logs (keep folders, ignore content)
data_logs/*
!data_logs/.gitkeep

suspicious_logs/*
!suspicious_logs/.gitkeep

# OS files
.DS_Store

# IDE
.vscode/